<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @forum.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @forum.description %>
</p>

<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
