<%= form_for(reply) do |f| %>
  <% if reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
      <% reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  
  <%= f.hidden_field :post_id, :value => reply.post_id %>
  
  <div class="actions">
    <%= f.submit class: "custom_submit" %>
  </div>
<% end %>
