<td><%= link_to '<span style="color:green">&#8593;</span>'.html_safe  %><br/><%= link_to '<span style="color:red">&#8595;</span>'.html_safe %></td>
        <td><%= User.find(reply.user.id) %></td>
        <td><%= reply.content %></td>
  
   <%= link_to like_reply_path(reply), method: :put do %>
    Upvote
      <%= reply.get_upvotes.size %>
    <% end %>

    <%= link_to dislike_reply_path(reply), method: :put do %>
      Downvote
      <%= @reply.get_downvotes.size %>
    <% end %>
