          <div class="card col-md-7">
            <div class="card-block question">
              <%= link_to post do %>
                <h3 class="card-title"><%= post.title %></h3>
              <% end %>
              <p class="card-subtitle text-muted">
                <% if post.content.size > 200 %>
                  <%= post.content[0, 199] %>
                  <%= link_to "...(more)", post %>
                  <% else %>
                  <%= post.content %>
                  <% end %>
              </p>
                  
                  <%= gravatar_for User.find(post.user_id), size: 50 %> <%= link_to User.find(post.user_id).name, User.find(post.user_id) %>
              <a href="#" class="card-link">link</a> <a href="#" class="card-link">Second link</a> 
              <div id="vote_arrows">
                <%= link_to like_post_path(post), class: "btn btn-default", method: :put do %>
                  <span style="color:green" class="glyphicon glyphicon-arrow-up"></span>&nbsp<%= post.get_upvotes.size %>
                <% end %>
                <%= link_to dislike_post_path(post), class: "btn btn-default", method: :put do %>
                  <span style="color:red" class="glyphicon glyphicon-arrow-down"></span>&nbsp<%= post.get_downvotes.size %>
                <% end %>
              </div>
            </div>
            <hr>
          </div>