<!--<h1>NKUnet</h1>-->
<div class="container-fluid">
  <div class="row"> 
    <div class="col-md-2"></div>
    <div class="background-img col-md-8">
    <%= link_to image_tag("background1.jpg", alt: "logo"), '/' %>
    </div>
    <div class="col-md-2"></div>
  </div>
  <% will_paginate @top_post %>
        <% @top_post.each do |post| %>
          <div class="row listing"> 
            <div class="col-md-3"></div>
              <%= render post %>
            <div class="col-md-3"></div>
          </div>
        <% end %>
    <%= will_paginate @top_post %>
  
  <% if logged_in? %>
    <div class="row">
    	<div class="col-md-6 col-md-offset-3">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">Current Courses</a></li>
                            <li><a href="#tab2default" data-toggle="tab">Previous Courses</a></li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                          <% if @active_courses.empty? %>
                            <div class="row">
                              <div class="col-lg-12">
                                <h4>No active courses</h4>
                              </div>
                            </div>

                          <% else %>
                            <% @active_courses.each do |course| %>
                              <%= render partial: 'home/course_listing', locals: {course: course} %>
                            <% end %>
                          <% end %>
                        </div>
                        <div class="tab-pane fade" id="tab2default">
                          <% if @inactive_courses.empty? %>
                            <div class="row">
                              <div class="col-lg-12">
                                <h4>No previous courses</h4>
                              </div>
                            </div>
                          <% else %>
                            <% @inactive_courses.each do |course| %>
                              <%= render partial: 'home/course_listing', locals: {course: course} %>
                            <% end %>
                          <% end %>
                        </div>
                    </div>
                </div>
            </div>
      </div>
	</div>
	<% else %>
	   <div class="row">
    	<div class="col-md-6 col-md-offset-3">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">Courses</a></li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <div class="row">
                              <div class="col-lg-12">
                                <h4>Log in to view courses</h4>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
	</div>
  <% end %>
</div>
