<!--<h1>NKUnet</h1>-->
<div class="background-img">
<%= link_to image_tag("background1.jpg", alt: "logo"),
        '/' %>
</div>
<table>
    <tbody>
    <tr> 
    
    <th width=5%>Vote</th>
    <th></th>
    <th width="27%">Subject</th>
    <th width="68%">Title</th>
      
    </tr>
    <% @posts.each do |post| %>
      <tr>
        <td><%= Vote.count_votes(post.forum_id) %></td>
        <td><%= link_to '<span style="color:green">&#8593;</span>'.html_safe  %><br/><%= link_to '<span style="color:red">&#8595;</span>'.html_safe %></td>
        <span class="listing"> 
          <td><strong><h4><%= link_to  @courses.find(post.course_id).name, post %></h4></strong></td>
          <td><h5><%= link_to post.title, post %></h5></td>
        </span>
      </tr>
    <% end %>
  </tbody>
</table>


<strong><h2>Course courses:</h2></strong>
<table>
    <tbody>
    <% @courses.each do |course| %>
      <tr>
        <span class="listing"> 
          <td><strong><h4><%= link_to  course.name, course %></h4></strong></td>
        </span>
      </tr>
    <% end %>
  </tbody>
</table>
