<div class="form-group row custom align-middle">
  <% @course_record = CourseRecord.new %>
  <% button_attrs = get_button_attrs(@user.id, course.id) %>
  <%= form_for(@course_record, :url => "/register_courses/#{@user.id}") do |f| %>
    
      <%= render 'shared/error_messages' %>
  
 
    <div class="col-6 col-md-5 row ">
      <h4 class="col-form-label"><%= course.name %>
      <%= f.hidden_field :course_id, value: course.id, class: "form-control" %>
    </div>
    
    <div class="col col-md-3 row registerCustom">
      <%= f.select(:status, CourseRecord.statuses.keys, :prompt => "Please select an Enrollment type")  %>
    </div>
    
    <div class="col-6 col-md-3 row registerCustom2">
    <% if button_attrs != nil %>
      <%= f.submit button_attrs[0], class: button_attrs[1], type: "submit" %>
    </div>
  <% end %>
<% end %>
    <div class="col-6 col-md-1 row ">
    <!-- Show delete icon if user has association to course --> 
    <% if button_attrs[2] %>
      <%= button_to nil, {:action => "/register_courses>/:id/", class: "close", form_class: "close",   
                        confirm: "Are you sure you want to delete record?", :method => :delete,  
                                                      params: {course_id: course.id}}  do %>
           <span aria-hidden="true">&times;</span>
      <% end %>
    <% end %>
    </div>
</div>

