<div class="form-group row custom align-middle">
  <% @course_record = CourseRecord.new %>
  <%= form_for(@course_record, :url => "/register_courses/#{@user.id}") do |f| %>
      <%= render 'shared/error_messages' %>
  
 
    <div class="col-6 col-md-6 row ">
      <h4 class="col-form-label"><%= course.name %>
      <%= f.hidden_field :course_id, value: course.id, class: "form-control" %>
    </div>
    
    <div class="col col-md-3 row registerCustom">
      <%= f.select(:status, CourseRecord.statuses.keys)  %>

      
    </div>
    <div class="col-6 col-md-3 row registerCustom2">
      <% if  (button_attrs = get_button_attrs(@user.id, course.id)) != nil %>
        <%= f.submit button_attrs[0], class: button_attrs[1], type: "submit" %>
      <% end %>
    </div>
  <% end %>
</div>

