<p id="notice"><%= notice %></p>

<h1>Course Registrations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_registrations.each do |course_registration| %>
      <tr>
        <td><%= link_to 'Show', course_registration %></td>
        <td><%= link_to 'Edit', edit_course_registration_path(course_registration) %></td>
        <td><%= link_to 'Destroy', course_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course Registration', new_course_registration_path %>
