<div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <% if params[:course] %><input type="hidden" id="course_id" name="post[course_id]" value="<%= params[:course] %>" /><% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
  
   <%= link_to like_post_path(@post), method: :put do %>
    Upvote
      <%= @post.get_upvotes.size %>
    <% end %>

    <%= link_to dislike_post_path(@post), method: :put do %>
      Downvote
      <%= @post.get_downvotes.size %>
    <% end %>
<% end %>
