<p id="notice"><%= notice %></p>

<p>
  <p3>[todo: author name/link]:</p3>
  <strong><%= @post.title %></strong>
</p>

<p>
  <%= @post.content %>
</p>

<h2 padding-left="100px" ><u><%= link_to "Submit An Answer!", "/replies/new?parent=#{@post.id}" %></u></h2>

<table>
    <tbody>
    <% @answers.each do |reply| %>
      <tr>
        <td>0<%= %></td>
        <td><%= link_to '<span style="color:green">&#8593;</span>'.html_safe  %><br/><%= link_to '<span style="color:red">&#8595;</span>'.html_safe %></td>
        <td>[todo: author]!</td>
        <td><%= reply.content %></td>
        <td><%= link_to 'Edit', edit_post_path(reply) %></td>
        <td><%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
