<p id="notice"><%= notice %></p>

<p>
  <p3>[todo: author name/link]:</p3>
  <strong><%= @post.title %></strong>
</p>

<p>
  <%= @post.content %>
</p>

<table>
    <tbody>
    <% @answers.each do |reply| %>
      <tr>
        <td>[todo: author]</td>
        <td><%= reply.content %></td>
        <td><%= link_to 'Edit', edit_post_path(reply) %></td>
        <td><%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
