<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="card col-md-6 col-md-offset-3">
    <div class="card-block question">
      <h3 class="card-title"><%= @post.title %></h3>
      <p class="card-subtitle text-muted">
          <%= @post.content %>
      </p>
      <%= link_to( gravatar_for(User.find(@post.user_id), size: 50), User.find(@post.user_id)) %><span>asked <%= humanizeDateTime(@post.created_at) %></span>
      <div id="vote_arrows">
        <%= link_to like_post_path(@post), class: "btn btn-default", method: :put do %>
          <span style="color:green" class="glyphicon glyphicon-arrow-up"></span>&nbsp<%= @post.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_post_path(@post), class: "btn btn-default", method: :put do %>
          <span style="color:red" class="glyphicon glyphicon-arrow-down"></span>&nbsp<%= @post.get_downvotes.size %>
        <% end %>
      </div>
    </div>
    <hr style="border-style:dotted;margin-bottom:50px">
    </div>
    <div class="col-md-3"></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 col-md-offset-8">
      <%= link_to "Submit Answer!", "/replies/new?post=#{@post.id}", class: "btn btn-default custom_submit" %>
    </div>
  </div>

      
  <% @answers.each do |reply| %>
    <div class="row">
      <div class="col-md-3"></div>
      <%= render partial: 'replies/listing', locals: {reply: reply} %>
      <% if current_user != nil && (current_user.admin? | current_user.id == reply.user_id) %>
        <%= link_to 'Edit', edit_post_path(reply) %>
        <%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>  
</div>
