<p id="notice"><%= notice %></p>

<p>
  <p3><%= User.find(@post.user_id).name %>
  <strong><%= @post.title %></strong>
</p>

<p>
  <%= @post.content %>
</p>

<h2 padding-left="100px" ><u><%= link_to "Submit An Answer!", "/replies/new?parent=#{@post.id}" %></u></h2>

<table>
    <tbody>
    <% @answers.each do |reply| %>
      <tr>
        <td>
          <%= link_to like_reply_path(reply), method: :put do %>
            <span style="color:green">&#8593;</span>'
            <%= reply.get_upvotes.size %>
          <% end %>
        </td>
        <td>
          <%= link_to dislike_reply_path(reply), method: :put do %>
            <span style="color:red">&#8595;</span>
            <%= reply.get_downvotes.size %>
          <% end %>
        </td>
        <td><%= User.find(reply.user_id).name %></td>
        <td><%= reply.content %></td>
        <% if current_user.admin? | current_user.id == reply.user_id %>
        <td><%= link_to 'Edit', edit_post_path(reply) %></td>
        <td><%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
